.contact-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Промени в това направление */
  align-items: center;
  justify-content: center;
  margin-top: 150px; 
}
  
  .contact-header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Changed from 'justify-content: space-between;' */
    align-items: center;
    /* Added this line */
    margin-bottom: 20px;
  }
  
  label {
    margin-bottom: 10px;
    text-align: center;
    margin-right: 25px; 
    color: white; /* Set text color to white */
    /* Added this line */
  }
  
  .massage-row {
    display: grid !important;
    color: white; 
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #f3f3f3;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: black; /* Set text color to black */
  }
  
  button[type="submit"] {
    display: block;
    margin: 0 auto;
    background-color: #0066cc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #0055b3;
  }

  .labelName {
    color: #f3f3f3;
  }