.portfolio {
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.project {
  box-sizing: border-box;
    width: 300px; /* Променете този размер на фиксирана стойност спрямо дизайна си */
    height: 300px; /* Променете този размер на фиксирана стойност спрямо дизайна си */
    margin: 0 10px 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: left;
    overflow: hidden;
  }

  .project img {
    max-width: 100%;
    border-radius: 4px; /* Add rounded corners for images */
  }

  h1 {
    color: #f1f1f1;
  }